@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'inter', sans-serif;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1){
    @apply origin-top-left rotate-45;
}
    